<mat-expansion-panel style="padding: 1.5rem;" [expanded]="userListed">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ng-container *ngIf="!userListed; else userExists">
        <legend style="font-size: 1.3em; font-weight: 800; color: rgb(252, 252, 245);">
          Información personal
        </legend>
      </ng-container>

      <ng-template #userExists>
        <legend style="font-size: 1.3em; font-weight: 800; color: rgb(252, 252, 245);">
          Editar información
        </legend>
        <div class="d-flex justify-content-end"> {{userIndex + 1}}/{{usersLength}} </div>
      </ng-template>
    </mat-panel-title>

  </mat-expansion-panel-header>
  <form [formGroup]="personalInformationForm">

    <mat-form-field appearance="outline" class="col-md-5">
      <mat-label>Nombre*:</mat-label>
      <input matInput placeholder="Nombre" formControlName="name" type="text" id="name" name="name">
      <mat-error appearance="outline" *ngIf="personalInformationForm.get('name').invalid">
        {{getError("name", 'Nombre')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-5">
      <mat-label>Apellidos*:</mat-label>
      <input matInput placeholder="Apellidos" formControlName="surname" type="text" id="lastname" name="surname">
      <mat-error appearance="outline" *ngIf="personalInformationForm.get('surname').invalid">
        {{getError("surname", 'Apellidos')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-5">
      <mat-label>Cédula*:</mat-label>
      <input matInput placeholder="Cédula" formControlName="document" type="text" id="document" name="document">
      <mat-error appearance="outline" *ngIf="personalInformationForm.get('surname').invalid">
        {{getError("document", 'Cédula')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-5">
      <mat-label>Dirección*:</mat-label>
      <input matInput placeholder="Dirección" formControlName="address" type="text" id="address" name="address">
      <mat-error appearance="outline" *ngIf="personalInformationForm.get('address').invalid">
        {{getError("address", 'Dirección')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-5">
      <mat-label>Correo electrónico*:</mat-label>
      <input matInput placeholder="mail@mail.com" formControlName="email" type="text" id="email" name="email">
      <mat-error appearance="outline" *ngIf="personalInformationForm.get('email').invalid">
        {{getError("email", 'Correo electrónico')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-5">
      <mat-label>Teléfono*:</mat-label>
      <input matInput placeholder="Teléfono" formControlName="phone" type="text" id="phone" name="phone">
      <mat-error appearance="outline" *ngIf="personalInformationForm.get('phone').invalid">
        {{getError("phone", 'Teléfono')}}
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="col-md-5">
      <mat-label>Teléfono celular:</mat-label>
      <input matInput placeholder="Teléfono celular" formControlName="cellphone" type="text" id="cellphone"
        name="cellphone">
      <mat-error appearance="outline" *ngIf="personalInformationForm.get('cellphone').invalid">
        {{getError("cellphone", 'Teléfono celular')}}
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <ng-container *ngIf="!userListed; else editButton">
        <button class="btn btn-outline-info" (click)="createUser()">Agregar usuario</button>
      </ng-container>
      <ng-template #editButton>
        <button class="btn btn-outline-info" (click)="openDialog()">Agregar
          Tarjeta</button>
        <button class="btn btn-outline-warning" (click)="editCards()">Editar
          Tarjetas</button>

      </ng-template>
    </div>
  </form>
</mat-expansion-panel>

<br />
